@import "../../utils/consts.scss";

.auth__wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    min-height: 90vh;
    border-radius: 12px;
}

.auth__card {
    width: 40%;
    height: 50%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    color: $black-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 1rem 2rem;
   
    border-radius: 10px;
    border: 1px solid $dark-color;
    

}
.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
     input {
        padding: 8px 38px 8px 12px;
        background-color: $gray-color;
        border-radius: 8px;
        
        width: 85%;
        margin-top: .3rem;
        font-size: 1.2rem;
        border: none;
     }
}

.auth__link {
    color: $black-color;
    text-decoration: underline;
    &:hover {
        color: $blue-color;
    }
}


.login__button {
    padding: 12px 24px 14px;
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: $dark-color;
    outline: 1px solid $dark-color;
    border: none;
    border-radius: 8px;
    transition: all .3s ease;
   

    &:hover {
        background-color: $blue-color;
        outline: 1px solid $blue-color;
    }
    
}