
@import "./utils/consts.scss";



body {
    font-family: 'Segoe UI','Segoe WP',sans-serif;
    background: linear-gradient(90deg, $light-color, 60%, $dark-color);
    color: $black-color;
    
}

#root {
  overflow: hidden;
}

 
a {
  text-decoration: none;
  color: #ffffff;
}


body::-webkit-scrollbar-track
{
  border-radius: 10px;
	background-color: $dark-color;
}

body::-webkit-scrollbar
{
	width: 10px;
 
	background-color: $dark-color;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: $light-color;	
}