@import "../../utils/consts.scss";

.brand__row {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.brand__item {
    margin-left: 2rem;
    padding: .5rem 1rem;
    border: 1px solid $light-color;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: -1px;
    transition: all .3s ease;
}

.active {
    background-color: $light-color;
    color: white;
    border: 1px solid $light-color;
}