.shop__wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: white;
    
}

.shop__mainfield {
    display: flex;
    width: 100%;
    flex-direction: column;
}
