@import "../../utils/consts.scss";

.navbar__wrapper {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background: linear-gradient(90deg, $light-color, 60%, $dark-color);
    justify-content: space-between;

    
}

.linkrow {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}
.navbar__link {
    margin-right: 2rem;
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
  
}
.navbar__link:hover {
    color: white;
}

.control__row {
    display: flex;
    flex-direction: row;
}

.navbar__button {
    padding: .5rem 1rem;
    margin:  .3rem .5rem;
    font-size: 1rem;
    color: white;
    background-color: $light-color;
    outline: 1px solid $light-color;
    border: none;
    border-radius: 4px;
    transition: all .3s ease;
   

    &:hover {
        outline: 1px solid rgb(255, 255, 255);
    }
    
}

.auth__info {
    color: white;
   
    margin: 12px 3rem;

}