.navbar__wrapper {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: blueviolet;
    justify-content: space-between;

    
}

.linkrow {
    display: flex;
    flex-direction: row;
}
.navbar__link {
    margin-right: 2rem;
    font-size: 1.5rem;
}

.control__row {
    display: flex;
    flex-direction: row;
}

.navbar__button {
    padding: .5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: aliceblue;
    border: 0px;
    
}

.auth__info {
    color: white;
    font-weight: bold;
    margin: 5px 1rem;

}