.device__wrapper {
    
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    
}



.device__imagewrapper {
    height: 70%;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.device__info {
    
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    
}

.device__brand {
    margin-left: 10px;
}

.device__price {
    font-size: 2rem;
    font-weight: bold;
}

