@import "../../utils/consts.scss";

.device__wrapper {
    
    border: 1px solid $dark-color;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 20px 10px;
    &:hover{

    cursor: pointer;
    
        .device__imagewrapper img {
            transform: scale(1.05);
        }
    }
    
}

.device__imagewrapper {
    height: 70%;
    min-height: 250px;
    overflow: hidden;

        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s ease;
        }
}
.device__info {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    margin: 0 5px;
    
}

.device__brand {
    margin-left: 10px;

}

.device__name {
    font-size: 1.4rem;
    margin: 5px 10px 10px;
    
}

.device__price {
    font-size: 1.8rem;
    margin: 5px 10px 0;
    font-weight: bold;
}

